body {
    font-family: 'Ubuntu', sans-serif;
}
strong {
    color: orange;
    font-size: larger;
}
em {
    font-style: normal;
    color: #827b7b;
}
.toggle-content {
    display: none;
}
.toggle-content.open {
    display: block;
}
.toggle-button {
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    color: rgb(202, 116, 11);
    text-decoration: none;
    margin-bottom: 10px;
}
.description{
    color: #827b7b;
    font-size: smaller;
    font-weight: normal;
}

ul li{
    padding-top: 8px;
    padding-bottom: 4px;
}