{% extends 'base.html' %}
{% load static %}

{% block title %}Song List{% endblock %}

{% block content %}
<div class="container">
    <h1>Song List</h1>
    <ul>
        {% for song in songs %}
            <li>
                {{ song.title }} by {{ song.artist }}
                <a href="{% url 'song_update' song.pk %}">Edit</a>
                <a href="{% url 'song_delete' song.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'song_create' %}">Add New Song</a>
</div>
{% endblock %}