{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="min-width: 80vw; align-items: center; display: flex; justify-content: center; flex-direction: column;">
    <h1 style="padding:20px">Welcome to the Mixed Apes App</h1>
    <img src="{% static 'images/mixed-apes-logo.webp' %}" class="logo" alt="Mixed Apes Logo">
    <h2 style="padding:20px">
    This is a place where you can find and share your favourite music.<br> 
    You can create playlists, share them with friends, and discover new tracks.
    </h2>
    <p class="py-1"><a class="button-link" href="{% url 'tape_list' %}">View Tapes</a></p>
</div>
{% endblock %}