{% extends 'base.html' %}

{% block title %}Tape List{% endblock %}

{% block content %}
<div class="container">
    <h1>Tape List</h1>
    <ul>
        {% for tape in tapes %}
            <li>
                <span class="toggle-button">{{ tape.title }} : <span class="description">{{ tape.description }}</span></span>
                <ul class="toggle-content">
                    {% for song in tape.songs.all %}
                        <li><strong>{{ song.title }}</strong><br>
                            <em>{{ song.artist }}</em></li>
                    {% endfor %}
                    <br>
                    <a class="button-link" href="{% url 'add_song_to_tape' tape.pk %}">Add Songs</a>
                    <a class="button-link" href="{% url 'delete_songs_from_tape' tape.pk %}">Delete Songs</a>
                    <a class="button-link" href="{% url 'tape_update' tape.pk %}">Edit</a><br>
                    <br>
                </ul><br>
            </li>
        {% endfor %}
    </ul>
    <a class="button-link" href="{% url 'tape_create' %}">Create New Tape</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggleButtons = document.querySelectorAll('.toggle-button');
            toggleButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var content = this.nextElementSibling;
                    content.classList.toggle('open');
                });
            });
        });
    </script>
</div>
{% endblock %}