<!-- filepath: /home/ol/Documents/Code-Institute/mixedapes/tape/templates/tape/tape_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Tape Detail{% endblock %}

{% block content %}
<div class="container">
    <h1 class="py-2">{{ tape.title }}</h1>
    <p>{{ tape.description }}</p>
    <h2>Songs</h2><br>
    <ul class="song-list">
        {% for song in tape.songs.all %}
            <li>
                <span class="song-div">
                    <span class="album-art">
                        {% if song.album_art_url != "https://example.com/default_album_art.jpg" %}
                            <img src="{{ song.album_art_url }}" alt="{{ song.title }} album art" width="100" height="100">
                        {% else %}
                            <img src="{% static 'images/mixed-apes-logo.webp' %}" alt="{{ song.title }}" width="100" height="100">
                        {% endif %}
                    </span>
                    <span class="song-info">
                        <strong>{{ song.title }}</strong><br>
                        <em>{{ song.artist }}</em><br>
                        {% if tape.user == request.user %}
                            <a class="button-link" href="{% url 'edit_song' song.pk %}">Edit</a>
                        {% endif %}
                    </span>
                </span>
            </li>
        {% endfor %}
    </ul>
    {% if tape.user == request.user %}
        <a class="button-link" href="{% url 'add_song_to_tape' tape.pk %}">Add Songs</a>
        <a class="button-link" href="{% url 'delete_songs_from_tape' tape.pk %}">Delete Songs</a>
        <a class="button-link" href="{% url 'tape_update' tape.pk %}">Edit Tape</a>
        <a class="button-link" href="{% url 'tape_delete' tape.pk %}">Delete Tape</a>
    {% endif %}
</div>
{% endblock %}