{% extends 'base.html' %}
{% load static %}

{% block title %}Tape List{% endblock %}

{% block content %}
<div class="container">
    <h1>Tape List</h1>
    <ul>
        {% for tape in tapes %}
            <li>
                <span class="toggle-button">{{ tape.title }} : <span class="description">{{ tape.description }}</span></span><br>
                <span class="created_by">Created by {{ tape.user.username }}</span>
                <ul class="toggle-content">
                    {% for song in tape.songs.all %}
                        <li><dspan class="song-div">
                                <span class="album-art"><img src="{{ song.album_art_url }}" alt="{{ song.title }} album art" width="100" height="100"></span>
                                <span class="song-info">
                                    <strong>{{ song.title }}</strong><br>
                                    <em>{{ song.artist }}</em></li>
                                </span>
                            </span>
                        </li>
                    {% endfor %}
                    <br>
                    {% if tape.user == request.user %}
                        <a class="button-link" href="{% url 'add_song_to_tape' tape.pk %}">Add Songs</a>
                        <a class="button-link" href="{% url 'delete_songs_from_tape' tape.pk %}">Delete Songs</a>
                        <a class="button-link" href="{% url 'tape_update' tape.pk %}">Edit Tape</a><br>
                    {% endif %}
                    <br>
                </ul><br>
            </li>
        {% endfor %}
    </ul>
    <a class="button-link" href="{% url 'tape_create' %}">Create New Tape</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toggleButtons = document.querySelectorAll('.toggle-button');
            toggleButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var content = this.nextElementSibling;
                    while (content && !content.classList.contains('toggle-content')) {
                        content = content.nextElementSibling;
                    }
                    if (content) {
                        content.classList.toggle('open');
                    }
                });
            });
        });
    </script>
</div>
{% endblock %}