<!DOCTYPE html>
<html>
<head>
    <title>Tape List</title>
</head>
<body>
    <h1>Tape List</h1>
    <ul>
        {% for tape in tapes %}
            <li>
                <a href="{% url 'tape_detail' tape.pk %}">{{ tape.title }}</a>
                <ul>
                    {% for song in tape.songs.all %}
                        <li>{{ song.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'tape_create' %}">Create New Tape</a>
</body>
</html>